.home,h1,h2,h3 {
    background-color: #084C61;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}

.button {
  color: #084C61;
  background-color: #5BC0BE;
  width: 100%;
  border: 2px solid #5BC0BE;
  margin: 4px 2px;
  padding: 5px 15px;
}
a:hover {
  text-decoration: none;
}

.player {
  padding: 10px;
}

.main {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
  padding: 1px 5px;
}
/******GOT7 COLOR CODING******/
#jb {
  color: #8EB6FF;
}
#mk {
  color: #DB504A;
}
#jw {
  color: #FF90B3;
}
#jy {
  color: #C6F489;
}
#yj {
  color: #F7A278;
}
#bb {
  color: #45AF3A;
}
#yg {
  color: #E3B505;
}
